.LikeButton > .p-button::after {
    content: "すごーい！";
}
.LikeButton > .p-button > span:not(.fa) {
    display: none;
}

.itemsShowHeaderStock_statusList > li:first-child > .itemsShowHeaderStock_countText::after{
  content: "すごーい！";
  font-size: 12px;
}

.itemsShowHeaderStock_statusList > li:first-child > .itemsShowHeaderStock_countText{
  font-size: 0px;
}

.LikeLabel__text::after {
    content: "すごーい！";
    font-size: 16px;
}

.LikeLabel__text {
    font-size: 0;
}
